<h1>Blocmarks</h1>
<h3 class="text-center">All Blocmarks</h3>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% @bookmarks.each do |bookmark| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to bookmark.title, bookmark %>
            </h4>
            <small>
              <%= link_to bookmark.url, "http://#{bookmark.url}", target: "_blank" %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>