<h1>Blocmarks</h1>
<h3 class="text-center"><%= current_user.name.pluralize %> Blocmarks</h3>

<div class="container">
  <% @bookmark_groups.each do |title, bookmarks| %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to title, bookmarks_path(title: title) %>
      </div>
    </div>

    <div class="row">
      <% bookmarks.each do |link| %>
        <div class="col-md-4">
          <%= link_to link.url, "http://#{link.url}", target: "_blank" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>