<h1>Blocmarks</h1>
<h3 class="text-center">My Blocmarks</h3>

<div class="container">
  <% @bookmark_groups.each do |title, bookmarks| %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to title, bookmarks_path(title: title) %>
      </div>
    </div>

    <% if nil %>
    <div class="row">
      <% bookmark.each_link.each do |link| %>
        <div class="col-md-4">
        </div>
      <% end %>
    </div>
    <% end %>
  <% end  %>

  <% if nil %>
  <div class="row">
    <div class="col-md-4">
      <% @bookmarks.each do |bookmark| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to bookmark.title, bookmark %>
            </h4>
            <small>
              <%= link_to bookmark.url, "http://#{bookmark.url}", target: "_blank" %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>