<h1>All Blocmarks</h1>

<div class="container">
  <h3 class="text-center"> All Blocmarks</h3>

  <% @hotlist_groups.each do |title, bookmarks| %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= link_to title, hotlists_path(title: title) %></h3>
      </div>

      <% bookmarks.each do |link| %>
        <div class="col-md-4" >
          <div class="container-topic-url-inner">
            <p class="text-center"><%= link_to link.url, "http://#{link.url}", target: "_blank" %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
